.Tests{
  padding: 20px;
  border: 1px solid lightslategray;
  margin: 10px;
  min-height: 300vh;
}

.TestList{
  color: darkcyan;

  .buttons{
    display: flex;
    gap: 15px;

    button{
      padding: 5px 10px;
    }
  }
  .content{
    h1{
      margin: 10px 0;
      font-size: 16px;
    }
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      /* justify-content: space-between; */
      gap: 5px;      
    }
    .emptyList{
      color: black;
    }
    li{
      flex: 1 1;
    }

    /* ======================== */
    /* .imgBox{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      padding: 3px;
      height: 300px;
      min-width: 200px;
      border: 1px solid rgba(85, 107, 47, 0.3);
      border-radius: 5px;
      font-size: 12px;
      margin-bottom: -1px;
      position: relative;
    }

    .likes{
      border: 0;
      background-color: transparent;
      
      position: absolute;
      top: 5px;
      right: 5px;
      width: 21px; height: 21px;
      background-image: url(../../img/Like_0.svg);
    }
    .likeActive{
      background-image: url(../../img/Like_1.svg);
    }

    .listImg{
      height: 200px;
      transition: transform 0.3s;
    }
    .listImg:hover{
      transform: scale(1.5);
      z-index: 200;
    }

    h2, h3{
      font-weight: 400;
      align-self: flex-start;
    }
    h2{
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 12px;
    }
    .authPhoto{
      border-radius: 50%;
    }
    h2 span{
      margin-left: 5px;
      text-transform: capitalize;
    }

    h3{
      font-size: 10px;
      transition: .3s;

      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    } */
    /* ============================ */

    .transparent{
      border: 0;
      background-color: transparent;
    }

    .waitIndicator{
      flex-basis: 100%;
    }
    .error{
      flex-basis: 100%;
      color: red;
      font-size: 30px;
    }
    .autoLoader{
      background-color: bisque;
      flex-basis: 100%;
    }
  }
}

.auth {
  button{
    display: inline-block;
    padding: 20px;
    margin: 20px;
    border: 1px solid darkgrey;
    border-radius: 10px;
  }
  button:hover{
    background-color: lightgoldenrodyellow;
  }
  button[disabled]{
    pointer-events: none;
  }  
}
